<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
		<section layout:fragment="contents" class="d-flex justify-content-center align-items-center">
				<div class="feed-view">
					<top class="d-flex justify-content-between">
						<span class="display-4">유저이름</span>
						<button type="button" class="small btn btn-danger">삭제버튼 자리</button>
					</top>
					<hr class="hr-dotted">
					<article class="bg-dark text-white">게시글 사진 표출 자리</article>
					<div class="bg-danger">좋아요 표시 자리</div>
					<hr class="hr-dotted">
					<information></information>
					<comment></comment>
				</div>
		</section>
        
</html>