<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
		<section layout:fragment="contents" class="d-flex justify-content-center align-items-center">
				<div class="feed-view" th:each="card:${cardList}">
					<top class="d-flex justify-content-between">
						<span th:text="${card.loginId}" class="display-4 p-2">유저이름</span>
						<button type="button" class="small btn btn-danger p-2 mx-4 my-4">삭제버튼 자리</button>
					</top>
					<hr class="hr-dotted">
					<article class="bg-dark text-white">
						<img class="w-100" th:src="${card.imagePath}" src="">게시글 사진 표출 자리
					</article>
					<div class="ml-2">
						<h2 th:text="${card.loginId}">wjdals2285</h2>
						<div class="d-flex align-items-center">
							<div class="like-zone"><i class="bi bi-heart text-danger"></i></div>
						</div>
						<post-detail th:text="${card.contents}">게시글 문구공간</post-detail>
					</div>
					<hr class="hr-dotted">
					<comment>
						<add-comment class="d-flex ml-2">
							<input type="text" class="form-control mr-2" placeholder="댓글을 남겨보세요">
							<button type="button" class="btn btn-dark col-2">댓글 남기기</button>
						</add-comment>
						<comment-list class="ml-2">
							<last-comment>
								<comment-user-name class="mr-1" >댓근남긴 유저의 아이디</comment-user-name>
								<comment-detail>작성되있는 댓글 자리</comment-detail>
							</last-comment>
						</comment-list>
					</comment>
				</div>
		</section>
        
</html>