<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
	<section layout:fragment="contents">
		<button class="btn ml-2" id="createBtn"><b>새 게시글 작성</b></button>
		<div th:each="card:${cardList}">
			<div class="d-flex justify-content-center align-items-center my-4">
				<div class="feed-view">
					<div th:data-id="${card.id}" id="post">
						<top class="d-flex justify-content-between" th:data-id="${card.id}">
							<span class="display-4 p-2" th:text="${card.loginId}">유저이름</span>
							<i th:if="${card.userId == session.userId}" class="bi bi-three-dots-vertical more-btn" th:data-post-id="${card.postId}" data-toggle="modal" data-target="#moreModal" th:data-post-id="${card.postId}"></i>
							<button type="button" class="small btn btn-danger p-2 mx-4 my-4" id="deleteBtn" >삭제버튼 자리</button>
						</top>
						<hr class="hr-dotted">
						<article class="bg-dark text-white">
						<!-- th:src="${card.imagePath}" -->
							<img class="w-100" alt="사진자리" src="123">게시글 사진 표출 자리
						</article>
						<div class="ml-2">
							<h2 th:text="${card.loginId}">wjdals2285</h2>
							<div class="d-flex align-items-center">
								<div class="like-zone mb-2">
									<i th:unless="${card.isLike}" class="bi bi-heart text-danger like-btn" th:data-post-id="${card.postId}"></i>
									<i th:if="${card.isLike}" class="bi bi-heart-fill text-danger unlike-btn" th:data-post-id="${card.postId}"></i>
									<span>좋아요<span th:text="${card.likeCount}"></span>개</span>
								</div>
							</div>
							<post-detail th:text="${card.contents}">게시글 문구공간</post-detail>
						</div>
						<hr class="hr-dotted">
						<comment>
							<add-comment class="d-flex ml-2">
								<input type="text" class="form-control mr-2" placeholder="댓글을 남겨보세요" th:id="|commentInput${card.postId}|">
								<button type="button" class="btn btn-dark col-2 comment-btn" th:data-post-id="${card.postId}">댓글 남기기</button>
							</add-comment>
							<comment-list class="ml-2">
								<last-comment th:each="comment:${card.commentList}">
									<div><b th:text="${comment.loginId}">댓근남긴 유저의 아이디</b></div>
									<span class="mb-4" th:text="${comment.contents}">작성되있는 댓글 자리</span>
								</last-comment>
							</comment-list>
						</comment>
					</div>
				</div>
			</div>	
		</div>
		
			<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#moreModal">
		  Launch demo modal
		</button>
		
		<!-- Modal -->
		<div class="modal fade" id="moreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		    
		      <div class="modal-body text-center">
		        <a href="#" id="deleteBtn">삭제하기</a>
		      </div>
		      
		    </div>
		  </div>
		</div>
			
	</section>
		
	<script layout:fragment="script">
		$(function() {
			
			$("#more-btn").on("click", function() {
				// deleteBtn의 data-post-id값을 
				// 해당 이벤트가 발생한 아이콘의 게시글 postId가 저장되도록한다.
				let postId = $(this).data("post-id");
				
				$("#deleteBtn").data("post-id", postId);
				
			});
			
			$("#deleteBtn").on("click", function() {
				let id = $(this).data("post-id");
				
				$.ajax ({
					type:"delete"
        				, url:"/post/delete"
        				, data:{"id":id}
        				,success:function(response) {
        					if(response.result == "success") {
        						location.reload();
        					}else {
        						alert("삭제실패");
        					}
        				}
        				, error:function() {
        					alert("삭제 에러!");
        				}
				});
				
				
			});
			
			$("#createBtn").on("click", function() {
				location.href=("/post/list-create");
			});
			
			$(".comment-btn").on("click", function() {
				let postId = $(this).data("post-id");
				
				// 이벤트가 발생한 버튼에 매칭된 input 태그 객체
				// prev는 선택된 이벤트가 발생한 태그 바로 앞의 태그를 객체로 얻어오기 용이
				// let contents = $(this).prev().val();
				let contents = $("#commentInput" + postId).val();
				
				if(contents == "") {
					alert("댓글 내용을 입력해주세요");
					return;
				}
				
				$.ajax({
					type:"post"
					, url:"/post/comment/create"
					, data:{"postId":postId, "contents":contents}
					, success:function(response) {
						if(response.result == "success") {
							location.reload();
						} else {
							alert("댓글쓰기 실패");
						}
					}
					, error:function() {
						alert("댓글쓰기 에러");
					}
				});
				
			});
			
			$(".unlike-btn").on("click", function() {
				let postId = $(this).data("post-id");
				
				$.ajax({
					type:"delete"
					, url:"/post/unlike"
					, data:{"postId":postId}
					, success:function(response){
						if(response.result == "success") {
							location.reload();
						} else {
							alert("좋아요 취소 실패");
						}
					}
					, error:function() {
						alert("좋아요 취소 에러!");
					}
				});
			});
			
			$(".like-btn").on("click", function() {
					
				let postId = $(this).data("post-id");
					
				$.ajax({
					type:"post"
					, url:"/post/like"
					, data:{"postId":postId}
					, success:function(response) {
						if(response.result == "success") {
							location.reload();
						} else {
							alert("좋아요 실패");
						}
					}
					, error:function() {
						alert("좋아요 에러");
					}
				});
			});
				
			
		});
	</script>
        
</html>