<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
        <section layout:fragment="contents">
        	<div class="join-box bg-light">
        		<div class="d-flex justify-content-center align-item-center">
        			<img width="50px" alt="별" src="https://cdn.pixabay.com/photo/2016/03/31/17/33/icons-1293736_1280.png"></img>
        		</div>
        			<label class="form-control text-center text-danger">pinkstar</label>
        		<div class="btn-box mt-4">
	        		<button type="button" class="choiceBtn btn btn-block mb-3"><a href="/user/login-view" class="btn">로그인</a></button>
	        		<button type="button" class="choiceBtn btn btn-block"><a href="/user/join-view" class="btn">회원가입</a></button>
        		</div>
        	</div>
        </section>
        
        
</html>