<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
        
		<section layout:fragment="contents">
			<contents class="d-flex justify-content-center align-items-center mt-4 ">
				<div class="user-box mt-4 ">
						<div class="d-flex justify-content-center align-items-center">
							<i style="color :#f463f8" class="header-star bi bi-star-fill"></i>
						</div>
						<h2 class="text-center">pinkstar log-in</h2>
					<div class="mt-4">
						<form id="loginForm">
							<input type="text" class="form-control mb-4" placeholder="아이디" id="idInput">
							<input type="password" class="form-control" placeholder="비밀번호" id="passwordInput">
							<button class="btn btn-block btn-dark mt-3" type="submit" id="loginBtn">로그인</button>
						</form>
					</div>
				</div>
			</contents>
		</section>
		
		<script layout:fragment="script">
			$(function() {
				
				$("#loginForm").on("submit", function(e) {
					
					e.preventDefault();
					
					let loginId = $("#idInput").val();
					let password = $("#passwordInput").val();
					
					if(loginId == "") {
						alert("아이디를 입력하세요");
						return;
					}
					if(password == "") {
						alert("비밀번호를 입력하세요");
						return;
					}
					
					console.log("아이디 : " + loginId + " 비밀번호 : " + password);
					
					$.ajax({
						type:"post"
						, url:"/user/login"
						, data:{"loginId":loginId,"password":password}
						, success:function(response) {
							if(response.result == "success") {
								location.href="/post/list-view";
							} else {
								alert("아이디 패스워들 확인하세요");
							}
						}
						, error:function() {
							alert("로그인 에러");
						}
					});
					
					
				});
			});
		</script>
		
</html>