	<header>
		<div>
			<div class="d-flex justify-content-between align-items-center">
			<div class="mr-4" th:if="${session.userId != null}">
				<button class="btn ml-2" id="createBtn"><b>새 게시글 작성</b></button>
			</div>
				<i style="color :#f463f8" class="header-star bi bi-star-fill btn" id="logo-btn"></i>
					<div class="mr-4 d-flex justify-content-between" th:if="${session.userId != null}">
						<span th:text="${session.userLoginId}" class="mr-2">star</span><a href="/user/logout" class="text-danger">로그아웃</a>
					</div>
			</div>
		</div>			
		<hr>
	</header>
	<script layaout:fragment="script">
		$(function() {
			$("#logo-btn").on("click", function() {
				location.href("/post/list-view");
			});
		})
	</script>