	<header>
		<div>
			<div class="d-flex justify-content-between align-items-center">
			<div class="mr-4" th:if="${session.userId != null}">
			</div>
				<i style="color :#f463f8" class="header-star bi bi-star-fill btn" id="logo-btn"></i>
					<div class="mr-4 d-flex justify-content-between" th:if="${session.userId != null}">
						<span th:text="${session.userLoginId}" class="mr-2">star</span><a href="/user/logout" class="text-danger">로그아웃</a>
					</div>
			</div>
		</div>			
		<hr>
	</header>