@charset "UTF-8";
#wrap {
	width:1200px;
	height:800px;
	margin:0 auto;
}

header {
	height:90px;
	background-color:rgb(255, 225, 252);
}

header > .headerIcon {
	height:80px;
	
}

section {
	height:600px;
}

section > .join-box {
	width:500px;
	height:400px;
}
.join-box > .join-input {
	margin-top : 2px;
}

.join-box > .btn-box {
	display: block;
}

.join-box > .choiceBtn {
	color:#FE99F3;
}

hr {
	width:100%;
	height:2px;
	background-color:pink;
}

.hr-dotted {
	border : 0px;
	border-top: 5px dotted #663399;
}

section > contents {
	height:500px;
}

section > .feed-view {
	width:1000px;
	height:550px;
	background-color:#2111;
}

article {
	height:230px;
}

like-count {
	height:100px;
}


contents > .user-box {
	height:480px;
	width:600px;
}

contents > .user-box > .contentsIcon {
	height: 100px;
}

footer {
	height:80px;
	background-color:rgb(255, 225, 252);
}