@charset "UTF-8";
#wrap {
	width:1200px;
	height:800px;
	margin:0 auto;
}

.create-page {
	width:1000px;
	height:500px;
}

#createBtn {
	background-color:#fb04e9;
}

.top {
	width:1000px;
	height:250px;
}


.bottom {
	width:1000px;
	height:250px;
}

header {
	height:90px;
	background-color:rgb(255, 225, 252);
}

header > .headerIcon {
	height:80px;
	
}

section {
	height:600px;
}

.join-box {
	width:500px;
	background-color:pink;
}

.join-box > .btn-box {
	display: block;
}

.join-box > .choiceBtn {
	color:#febef8;
}

hr {
	width:100%;
	height:1px;
}

.hr-dotted {
	border : 0px;
	border-top: 5px dotted #663399;
}

section > contents {
	height:500px;
}

section > .feed-view {
	width:1000px;
	background-color:#2111;
}

article {
	height:230px;
}

.like-zone {
	height:50px;
}

comment-user-name {
	font-size:20px;
	font-weight:bold;
}

comment-detail {
	font-size:12px;
}

contents > .user-box {
	height:480px;
	width:600px;
}

contents > .user-box > .contentsIcon {
	height: 100px;
}

#wrap > footer {
	margin-top:30px;
	height:70px;
	background-color:rgb(255, 225, 252);
}

.inputImage {
	font-size:40px;
}

.option-btn {
	width:450px;
}

.no-border {
	border-width:0;
}

.final-button {
	background-color:#fde093;
}

.header-star {
	font-size:50px;
}

